h2 {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.stage {
  width: 80%;
  margin: auto;
  display: flex;
  min-height: 50vh;
  background-color: #000;
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: yellow;
}
