/* Reset CSS */

:root {
  --mainFont: sans-serif;
  --fontSize: 16px;
  --mainColor: #f7df1e;
  --secondColor: #222;
  --mainModalColor: rgba(247, 222, 30, 0.85);
  --secondModalColor: rgba(34, 34, 34, 0.85);
  --containerWidth: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--mainFont);
  font-size: var(--fontSize);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}

/* Menu Hamburguesa */

.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--mainColor);
  color: var(--secondColor);
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--containerWidth);
  min-height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 998;
  width: 100%;
  background-color: var(--secondModalColor);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  transition: transform 0.3s ease;
  /* de arriba */
  transform: translate(0, -100%);
}
.panel.active {
  transform: translate(0, 0);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainColor);
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  color: var(--secondColor);
  background-color: var(--mainModalColor);
}
.panelBtn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
}
